#intro {
	background: rgba(0,0,0,.7);
	padding: 0;
	border: 0;
}

#intro h1 {
	width: 100%;
	min-height: 500px;
	margin: 5% auto 0;
}

#intro .attribution {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	line-height: .5;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	background: url(img/meander2.jpg) bottom;
	padding: .4em 0 0;
	overflow: hidden;
}

#fast .image { width: 700px; }
#distributed .image { width: 1000px; }
#staging .image { width: 360px; }
#branching .image { width: 500px; }

.image {
	background: rgba(255, 255, 255, 0.8);
	margin: 3% auto;
	padding: 5px;
	text-align: center;
}
.image img {
	display: block;
}
